{% extends "base.html"%}

{% block content %}

</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 title text-center"> YourNet</h1>
        <p class="lead text-center"> Your decentralized content sharing platform</p>
        <br>
        <h3 class="text-center">Login</h3>
        <div class="row">
                <div class="col-md-4 offset-md-4 my-auto">
                    <div class="card mt-2">
                        <div class="card-header">
                            {{ message }}
                            <form action="/check_login" id="textform" name ="textform" method="post">
                                <input type="text" name="user_name" placeholder="Username" class="form-control">
                                <input type="password" name="password" id="pwrd" class="form-control" placeholder="Password" >
                                <br>
                                <input type="submit" value="Post" class="btn btn-block btn-outline-primary">
                                <br>        
                            </form>

                            <br>
                            <div class="col-md-4 offset-md-4 my-auto">
                            </div>
                            <br>
                            <p class="text-center">Don't have an account? <a href="/inscription" class="text-secondary">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}
