
{% extends "base.html"%}

{% block content %}
<main class="container p-4">
    <h1 class="display-4 title text-center"> YourNet</h1>
    <p class="lead text-center"> Your decentralized content sharing platform</p>
    <br>
    <h3 class="text-center">Sign Up</h3>
    <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card mt-2">
                    <div class="card-header">
                        <form action="/inscription" id="textform" name ="textform" role="form" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <input type="text" name="name" id="name" placeholder="Name" class="form-control" autofocus>
                            {% for error in form.name.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}

                            <input type="text" name="user_name" id="user_name" placeholder="Username" class="form-control">
                            {% for error in form.user_name.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}

                            <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                            {% for error in form.email.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}

                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            <input type="password" name="repeat_password" id="repeat_password" class="form-control" placeholder="Repeat password" >
                            <br>
                            <input type="submit" value="Sign Up" name="submit" id="submit" class="btn btn-block btn-outline-primary">
                        </form>
                        <br>
                        <p class="text-center"> Already have an account? <a href="/login">Login</a></p>
                    </div>
                </div>
            </div>
    </div>
</main>
{% endblock %}
